/******************************************************************
Stylesheet: Main Stylesheet
******************************************************************/
/*********************
01. GENERAL STYLES
*********************/
html,
body {
  /* height: 100%; */
  height: 100%;
  width: 100%;
}
body {
  background: url('../images/shutterstock_175577192_.jpg') no-repeat center top;
  background-color: #eeeeee;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
body.gracias {
  color: #eeeeee;
}
/*********************
02. LAYOUT & GRID STYLES
*********************/
#logo {
  margin: 10px 0;
  display: block;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  border-left: 5px solid #5cb85c;
}
img.icono-menu {
  width: 12px;
  height: 12px;
}
#home-ingreso,
#home-ingreso-b,
#home-ingreso-c {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  text-shadow: 5px 1px 5px #000000;
  background: rgba(0, 0, 0, 0.3);
  padding: 100px 0 30px;
  margin: 0;
  color: #eeeeee;
  font-size: 17px;
}
#home-ingreso .link-bottom,
#home-ingreso-b .link-bottom,
#home-ingreso-c .link-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
}
#home-ingreso .link-bottom a,
#home-ingreso-b .link-bottom a,
#home-ingreso-c .link-bottom a {
  font-size: 40px;
  color: #eeeeee;
}
#home-ingreso-c {
  background: none !important;
  text-shadow: 5px 1px 5px #000000;
  font-size: 15px;
}
.link-help {
  font-size: 20px;
  float: right;
}
.link-help a {
  color: #555555;
  text-decoration: none;
}
.link-help a:hover {
  color: #5cb85c;
}
.bdActive {
  border: 2px solid #5cb85c;
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 3px;
  top: 26px;
}
.profileInt {
  text-align: center !important;
}
.profileInt h3 {
  margin: 0;
}
.uppercase {
  text-transform: uppercase;
}
header.head-interiores {
  padding: 20px 0 0;
  color: #eeeeee;
}
header.head-interiores .top {
  background: none !important;
  text-shadow: 5px 1px 5px #000000;
}
header.head-interiores .top .navbar {
  text-shadow: none;
}
header.head-interiores .top p {
  font-size: 17px;
}
header.head-interiores .bottom {
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 0;
}
.head-title {
  width: 200px;
  height: 5px;
}
.head-title.head-green {
  background: #5cb85c;
}
.head-title.head-blue {
  background: #0097c6;
}
.head-title.head-orange {
  background: #f0ad4e;
}
.forced-height {
  height: 40px;
}
.slick-prev:before,
.slick-next:before {
  color: #5cb85c;
}
.headings h1 {
  line-height: 30px;
}
.headings h1 small {
  color: #eeeeee;
}
.pasos {
  margin: 5px 0;
  padding: 5px 0 10px;
  text-align: center;
  margin-bottom: 1px solid #eeeeee;
}
ul#pasos-prediccion {
  display: block;
  margin: 0 0 ;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
ul#pasos-prediccion li {
  display: block;
  float: left;
  width: 20%;
  text-align: center;
  color: #eeeeee;
  background: #555555;
  padding: 10px;
}
ul#pasos-prediccion li.activaa {
  background: #5cb85c;
}
/*********************
03. POSTS & CONTENT STYLES
*********************/
.greentxt {
  color: #5cb85c;
  text-transform: uppercase;
}
.bleuetxt {
  color: #0097c6;
  text-transform: uppercase;
}
.orangetxt {
  color: #f0ad4e;
  text-transform: uppercase;
}
.partidos-dia {
  padding: 10px 0px 45px;
}
#content {
  padding: 20px 0 20px;
  background: rgba(255, 255, 255, 0.8);
}
#content article.item-partido {
  margin: 10px 0 10px;
}
#content article.item-partido h5 {
  text-transform: uppercase;
  font-weight: bold;
}
#content article.item-partido .img-responsive {
  margin: 0 auto;
}
body.partido article.item-partido {
  margin: 0 0 10px;
}
body.partido article.item-partido h2 {
  text-transform: uppercase;
  font-weight: bold;
}
body.partido article.item-partido .img-responsive {
  margin: 0 auto;
}
body.partido #pre_resultado_de_partido_cont fieldset label,
body.partido #quien_anota_primero_cont fieldset label {
  display: block;
  width: 33.33%;
  float: left;
}
body.perfil-edit #content {
  background: rgba(0, 0, 0, 0.9);
  color: #eeeeee;
}
a.item-badgelink {
  display: block;
}
a.item-badgelink2 {
  display: block;
}
body.singles #home-ingreso {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  color: #eeeeee;
  padding: 100px 0 30px;
  margin: 0;
}
.item-bad {
  margin-top: 10px;
  margin-bottom: 10px;
}
.item-ranking,
.item-premio {
  height: 150px;
  margin-bottom: 40px;
}
.item-ranking {
  position: relative;
}
.item-ranking img.item-micro {
  display: block;
  position: absolute;
  right: -37px;
  z-index: 200;
  top: -10px;
}
.item-ranking .texto-usuario {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px 4px;
}
.item-ranking .texto-usuario h4 {
  font-size: 16px;
  color: #222222;
  text-transform: uppercase;
}
.item-ranking .texto-usuario h4 small {
  font-size: 14px;
  color: #222222;
}
.item-premio {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-size: 10px;
}
.item-premio img.img-premio {
  width: auto;
  height: 100%;
}
.item-premio .texto-premio {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #eeeeee;
}
.item-premio .texto-premio h4 {
  color: #eeeeee;
  margin: 0;
}
#lista-ranking-minus {
  border-left: 2px solid #f0ad4e;
}
/*********************
04. SIDEBARS & ASIDES
*********************/
.widget ul li {
  /* deep nesting */
}
/*********************	
05. FOOTER STYLES
*********************/
#home-foot {
  background-color: #fff;
  padding-bottom: 30px;
}
.footer-gral {
  background: #222222;
  clear: both;
  padding: 20px 0;
}
.footer-gral a {
  color: #eeeeee;
}
.checkbox .help-block {
  color: #FF0000;
}
@media only screen and (min-width: 768px) {
  /*********************
GENERAL STYLES
*********************/
  /*********************
HEADER STYLES
*********************/
  #logo {
    margin: 0 !important;
    display: block;
  }
  /*********************
SIDEBARS & ASIDES
*********************/
  .profileInt {
    text-align: right !important;
  }
  .sidebar {
    margin-top: 2.2em;
  }
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
  }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  }
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }
}
@media only screen and (min-width: 992px) {
  #home-foot {
    background-image: url('../images/aficionado.png');
    background-repeat: no-repeat;
    background-color: #fff;
  }
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
