/******************************************************************
Stylesheet: Main Stylesheet
******************************************************************/
/*********************
01. GENERAL STYLES
*********************/
html,
body {
  /* height: 100%; */
}
body {
  background: url('../images/bg.png') no-repeat center top;
  background-color: #eeeeee;
  background-size: 100% !important;
}
/*********************
02. LAYOUT & GRID STYLES
*********************/
#home-ingreso {
  margin-top: 150px;
  color: #eeeeee;
}
.modal {
  color: #eeeeee !important;
}
.close {
  color: #eeeeee;
}
header.head-interiores {
  padding: 20px 0 0;
  color: #eeeeee;
}
header.head-interiores .bottom {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
}
/*********************
03. POSTS & CONTENT STYLES
*********************/
.greentxt {
  color: #5cb85c;
  text-transform: uppercase;
}
.partidos-dia {
  padding: 10px 0;
}
#content {
  padding: 20px 0 20px;
  background: #eeeeee;
}
#content article.item-partido .img-responsive {
  margin: 0 auto;
}
body.partido #pre_resultado_de_partido fieldset label {
  display: block;
  width: 33.33%;
  float: left;
}
/*********************
04. SIDEBARS & ASIDES
*********************/
.widget ul li {
  /* deep nesting */
}
/*********************
05. FOOTER STYLES
*********************/
body.home .footer-gral {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #222222;
  clear: both;
  padding: 20px 0;
}
body.home .footer-gral a {
  color: #eeeeee;
}
.footer-gral {
  background: #222222;
  clear: both;
  padding: 20px 0;
}
.footer-gral a {
  color: #eeeeee;
}
@media only screen and (min-width: 768px) {
  /*********************
GENERAL STYLES
*********************/
  /*********************
HEADER STYLES
*********************/
  /*********************
SIDEBARS & ASIDES
*********************/
  .sidebar {
    margin-top: 2.2em;
  }
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
  }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  }
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
