
/*********************
01. GENERAL STYLES
*********************/

html, body {
	/* height: 100%; */
}
body {

	background: url('../images/shutterstock_175577192_.jpg') no-repeat center top;
	background-color: @gray-lighter;
	background-size: cover; 
	background-attachment:fixed;
}
body.gracias {
	color: @gray-lighter;
}

/*********************
02. LAYOUT & GRID STYLES
*********************/

#logo {
	margin:10px 0;
	display: block;
}
#container {}


#home-ingreso {
	margin-top: 100px;
	color: @gray-lighter;
}
.modal {
	color: @gray-lighter !important; 	
}
.close  {
	color: @gray-lighter;	
}

header.head-interiores {
	padding: 20px 0 0;
	color: @gray-lighter;
	.top {

	}
	.bottom {
		background: rgba(0, 0, 0, 0.7);
		padding: 5px 0;

	}
}

.head-title {
	width: 200px;
	height: 5px;

	&.head-green {
		background: @brand-success;
	}
	&.head-blue {
		background: @brand-primary;

	}
	&.head-orange {
		background: @brand-warning;
	}	
}


.forced-height {
	height: 40px;
}

.slick-prev:before, .slick-next:before {
	color: @brand-success;
}


.headings {
	h1 {
		small {
		 color: @gray-lighter;	
		}
	}
}
.pasos {
	margin: 5px 0;
	padding: 5px 0 10px;
	text-align: center;
	margin-bottom: 1px solid @gray-lighter;
} 

ul#pasos-prediccion {
	display: block;
	margin: 0 0 ;
	padding: 0;
	list-style: none;
	overflow: hidden;
	li {
		display: block;
		float: left;
		width: 20%;
		text-align: center;
		color: @gray-lighter;
		background: @gray;
		padding: 10px;
		&.activaa {
			background: @brand-success;
		}
	}
}
/*********************
03. POSTS & CONTENT STYLES
*********************/
.greentxt {
	color: @brand-success;
	text-transform: uppercase;
}
.partidos-dia {
	padding: 10px 0;
}
#content {
	padding: 20px 0 20px;
	// background: @gray-lighter;
	background: rgba(255, 255, 255, 0.8);
	article.item-partido{
		margin: 0 0 10px;
		h5 {
			text-transform: uppercase;
			font-weight: bold;
		}
		.img-responsive {
			margin: 0 auto;
		}
	}
	#inner-content {}
}

body.partido {
	article.item-partido{
		margin: 0 0 10px;
		h2 {
			text-transform: uppercase;
			font-weight: bold;
		}
		.img-responsive {
			margin: 0 auto;
		}
	}
	#pre_resultado_de_partido_cont, #quien_anota_primero_cont {
		fieldset {
			label {
				display: block;
				width: 33.33%;
				float: left;
				input {

				}
			}
		}
	}
}

.item-bad {
	margin-top: 10px;
	margin-bottom: 10px;
}
.item-ranking {
	margin-top: 15px ;
	margin-bottom: 60px;
	position: relative;
	img.item-micro{
		display: block;
	    position: absolute;
	    right: -37px;
	    z-index: 200;
	    top: -25px;
	}
	h4 {
		margin-top: 30px;
		font-size: 16px;
		color: @gray-darker;
		text-transform: uppercase;
		small {
		font-size: 14px;
		 color:	@gray-darker;
		}
	}
}
.item-premio  {
	margin-top: 15px ;
	margin-bottom: 60px;
	position: relative;
}
/*********************
04. SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

/*********************
05. FOOTER STYLES
*********************/

.footer-gral {
	background: @gray-darker;
	clear: both;
	padding: 20px 0;
	
	a {
		color: @gray-lighter;
	}
	#inner-footer {
	}
}