
/*********************
01. GENERAL STYLES
*********************/

html, body {
	/* height: 100%; */
}
body {

	background: url('../images/shutterstock_175577192_.jpg') no-repeat center top;
	background-color: @gray-lighter;
	background-size: cover; 
	background-attachment:fixed;
}
body.gracias {
	color: @gray-lighter;
}

/*********************
02. LAYOUT & GRID STYLES
*********************/

#logo {
	margin:10px 0;
	display: block;
}
#container {}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    border-left: 5px solid @brand-success;
}
img.icono-menu {
	width: 12px;
	height: 12px;
}
#home-ingreso, #home-ingreso-b {
	position: relative;
	background: rgba(0, 0, 0, 0.6);
		color : @gray-lighter;
		padding: 100px 0 30px;	
		margin: 0;
	color: @gray-lighter;
	// text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);

	.link-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 20px 0;
		a {
			font-size: 40px;
			color: @gray-lighter;

		}
	}
}
.link-help {
	font-size: 20px;
	float: right;
	a {
		color: @gray;
		text-decoration: none;
		&:hover {
			color: @brand-success;
		}
	}
}
.bdActive {
	border: 2px solid @brand-success;
}
 
.form-horizontal .has-feedback .form-control-feedback {
    right: 3px;
    top: 26px;
}
.profileInt {
	text-align: center !important;
}
.uppercase {
	text-transform: uppercase;
}


header.head-interiores {
	padding: 20px 0 0;
	color: @gray-lighter;
	.top {

	}
	.bottom {
		background: rgba(0, 0, 0, 0.7);
		padding: 5px 0;

	}
}

.head-title {
	width: 200px;
	height: 5px;

	&.head-green {
		background: @brand-success;
	}
	&.head-blue {
		background: #0097c6;

	}
	&.head-orange {
		background: @brand-warning;
	}	
}


.forced-height {
	height: 40px;
}

.slick-prev:before, .slick-next:before {
	color: @brand-success;
}


.headings {
	h1 {
		line-height: 30px;
		small {
		 color: @gray-lighter;	
		}
	}
}
.pasos {
	margin: 5px 0;
	padding: 5px 0 10px;
	text-align: center;
	margin-bottom: 1px solid @gray-lighter;
} 

ul#pasos-prediccion {
	display: block;
	margin: 0 0 ;
	padding: 0;
	list-style: none;
	overflow: hidden;
	li {
		display: block;
		float: left;
		width: 20%;
		text-align: center;
		color: @gray-lighter;
		background: @gray;
		padding: 10px;
		&.activaa {
			background: @brand-success;
		}
	}
}
/*********************
03. POSTS & CONTENT STYLES
*********************/
.greentxt {
	color: @brand-success;
	text-transform: uppercase;
}

.bleuetxt {
	color: #0097c6;
	text-transform: uppercase;
}
.partidos-dia {
	padding: 10px 0;
}
#content {
	padding: 20px 0 20px;
	// background: @gray-lighter;
	background: rgba(255, 255, 255, 0.8);
	article.item-partido{
		margin: 10px 0 10px;
		h5 {
			text-transform: uppercase;
			font-weight: bold;
		}
		.img-responsive {
			margin: 0 auto;
		}
	}
	#inner-content {}
}

body.partido {
	article.item-partido{
		margin: 0 0 10px;
		h2 {
			text-transform: uppercase;
			font-weight: bold;
		}
		.img-responsive {
			margin: 0 auto;
		}
	}
	#pre_resultado_de_partido_cont, #quien_anota_primero_cont {
		fieldset {
			label {
				display: block;
				width: 33.33%;
				float: left;
				input {

				}
			}
		}
	}
}

body.perfil-edit {
	#content {
		background: rgba(0, 0, 0, 0.9);
		color : @gray-lighter;
	}
}

a.item-badgelink {
	display: block;
	img {

	}
}

a.item-badgelink2 {
	display: block;
	img {

	}
}
.item-badge {

}

body.singles {
	#home-ingreso {
		position: relative;
		background: rgba(0, 0, 0, 0.6);
		color : @gray-lighter;
		padding: 100px 0 30px;	
		margin: 0;
	}
}

.item-bad {
	margin-top: 10px;
	margin-bottom: 10px;
}

.item-ranking,
.item-premio  {
 height: 150px;
 margin-bottom: 40px;
}

.item-ranking {
	position: relative;
	img.item-micro{
		display: block;
	    position: absolute;
	    right: -37px;
	    z-index: 200;
	    top: -10px;
	}
	.texto-usuario {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 3px 4px;
		h4 {
			font-size: 16px;
			color: @gray-darker;
			text-transform: uppercase;
			small {
			font-size: 14px;
			 color:	@gray-darker;
			}
		}	
	}
}
.item-premio  {
	position: relative;
	width: 100%;
	text-align: center;
	overflow: hidden;
	font-size: 10px;
	img.img-premio {
		width: auto;
		height: 100%;
	}
	.texto-premio {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 3px 4px;
		background: rgba(0, 0, 0, 0.8);
		color: @gray-lighter;
		h4 {
			color: @gray-lighter;
			margin: 0;
		}
	}

}
#lista-ranking-minus  {
	border-left: 2px solid @brand-warning;
}
/*********************
04. SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

/*********************	
05. FOOTER STYLES
*********************/
#home-foot {
	background-color: #fff;
}
.footer-gral {
	background: @gray-darker;
	clear: both;
	padding: 20px 0;
	
	a {
		color: @gray-lighter;
	}
	#inner-footer {
	}
}